/* line 1, ../compass/sass/_navbar.scss */
.navigation {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  margin: 10px 0 10px 0;
  border-bottom: solid 2px gray;
}

/* line 10, ../compass/sass/_navbar.scss */
li {
  display: inline;
  margin-right: 20px;
}

/* line 1, ../compass/sass/_home.scss */
.welcome {
  font-family: "Josefin Sans", sans-serif;
  color: white;
  text-shadow: 2px 2px gray;
  margin-top: 350px;
}
/* line 6, ../compass/sass/_home.scss */
.welcome .welcome-msg1 {
  position: relative;
  font-size: 70px;
}
/* line 11, ../compass/sass/_home.scss */
.welcome .welcome-msg2 {
  font-size: 70px;
}

/* line 16, ../compass/sass/_home.scss */
.welcome-info {
  font-family: "Josefin Sans", sans-serif;
  font-size: 26.5px;
  text-shadow: 2px 2px gray;
  position: relative;
  color: #A9FFAF;
  margin-top: 20px;
}

/* line 1, ../compass/sass/_about.scss */
.about-text {
  font-family: "Open Sans", sans-serif;
}

/* line 5, ../compass/sass/_about.scss */
i {
  font-size: 3em;
  color: #078C49;
}

/* line 10, ../compass/sass/_about.scss */
.skill-name {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  color: gray;
}

/* line 16, ../compass/sass/_about.scss */
.about-xs-format {
  font-size: 10px;
}

/* line 2, ../compass/sass/_projects.scss */
.project-img img {
  border: 3px #A9FFAF solid;
  opacity: 0.9;
  margin-top: 5px;
  margin-bottom: 5px;
}
/* line 8, ../compass/sass/_projects.scss */
.project-img img:hover {
  border: 3px #FCF294 solid;
  opacity: 1.0;
}

/* line 14, ../compass/sass/_projects.scss */
.project-text {
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

/* line 19, ../compass/sass/_projects.scss */
.message {
  margin: auto;
  background: #FCF294;
  font-weight: bold;
  width: 300px;
  padding: 10px 0;
}

/* line 1, ../compass/sass/_contact.scss */
.fa, .fa:visited {
  color: #078C49;
  text-decoration: none;
}

/* line 6, ../compass/sass/_contact.scss */
.fa:hover, .fa:active {
  color: #FCF294;
  text-decoration: none;
}

/* line 11, ../compass/sass/_contact.scss */
.contact-name {
  font-family: "Open Sans", sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}

/* line 8, ../compass/sass/styles.scss */
body, html {
  height: 100%;
}

/* line 12, ../compass/sass/styles.scss */
.page {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 17, ../compass/sass/styles.scss */
.page-header {
  font-family: "Josefin Sans", sans-serif;
}
